@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css');

.button {
    height: 40px !important;
    background-color: blue;
    color: white;
}

.is-fullwidth{
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.container {
  margin-top: 2rem;
}